.container {
  height: 100%;
  margin: -10px 10px 6px 10px;
  padding: 6px 5px;
}
.header{
  display: flex;
  flex-direction: row;
  padding: 2px 15px;
}
.left-header {
  width: 50px;
}

.name {
  flex-grow: 1;
}

.scale, .step {
  width: 48px;
  text-align: center;
}
.scale {
  margin-right: 6px;
}

.horizontal-line {
  border-bottom: 1pt solid rgb(200,200,200);
  margin-bottom: 2px;
}

.overlay-item:not(:last-child) {
  margin-bottom: 5px;
}
