.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.block {
  width: 50%;
  overflow:auto;
}

.left {
  overflow: auto;
  width: 50%;
}

.right {
  flex: 1;
  min-width:0;
  overflow: hidden;
}

.slider {
  text-align: center;
  text-orientation: revert;
  background-image: linear-gradient(to right, #303031, rgb(63, 63, 64), #303031);
  width: 6px;
  cursor: col-resize;
  user-select: none;
  z-index: 3;
}
