<mat-card>
  <div id="imageControlContainer">
    <div id="fileBrowsing">

      <button
        mat-raised-button
        (click)="showFileDialog()"
      >Load File(s)
      </button>

      <button
        mat-raised-button class="arrow" style="margin-right:5px;"
        (click)="dioptasService.load_previous_image()"
      >&lt;
      </button>
      <button
        mat-raised-button class="arrow"
        (click)="dioptasService.load_next_image()"
      >&gt;
      </button>
      <mat-form-field style="width: 35px;">
        <mat-label>Step</mat-label>
        <input matInput class="form-control"
               type="number" name="value" placeholder="step" value="1"
               min="1"
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Browse Mode</mat-label>
        <mat-select [(value)]="browseMode">
          <mat-option value="name">By Name</mat-option>
          <mat-option value="time">By Time</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Batch Mode</mat-label>
        <mat-select [(value)]="batchMode">
          <mat-option value="integrate">integrate</mat-option>
          <mat-option value="add">add</mat-option>
          <mat-option value="save">image save</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div id="filePath">
      <mat-form-field>
        <mat-label>Filename</mat-label>
        <input matInput class="form-control" name="filename" autocomplete="off" [(ngModel)]="imageFilename">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Folder</mat-label>
        <input matInput class="form-control" name="folder" autocomplete="off" [(ngModel)]="imageDirectory">
      </mat-form-field>
    </div>
  </div>
</mat-card>
