.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.block {
  height: 50%;
}

.top {
  overflow: auto;
  height: 50%;
}

.bottom {
  flex: 1;
  min-height:0;
  overflow: hidden;
}

.slider {
  text-align: center;
  text-orientation: revert;
  background-color: orange;
  border-bottom: 3px solid #000;
  border-top: 3px solid #000;
  height: 8px;
  cursor: row-resize;
  user-select: none;
}
