<div class="integrationContainer" #integrationContainer>
  <app-vertical-splitter style="height: 100%;">
    <ng-template #left>
      <app-image-plot
        (mouseMoved)="footer.imageMousePosition=$event"
        (mouseClicked)="footer.imageClickPosition=$event"
      ></app-image-plot>
    </ng-template>
    <ng-template #right>
      <app-horizontal-splitter>
        <ng-template #top>
          <app-integration-control></app-integration-control>
        </ng-template>
        <ng-template #bottom>
          <app-pattern-plot (mouseMoved)="footer.patternMousePosition=$event"></app-pattern-plot>
        </ng-template>
      </app-horizontal-splitter>
    </ng-template>
  </app-vertical-splitter>
  <app-integration-footer #footer></app-integration-footer>
</div>


