<mat-list #file>
  <mat-list-item *ngIf="showBackButton" (click)="backClicked.emit()">
    <a mat-button >
      <mat-icon>folder</mat-icon>
      ..
    </a>
  </mat-list-item>
  <mat-list-item *ngFor="let folder of dirList.folders; let i = index">
    <a mat-button (click)="folderClicked(folder)">
      <mat-icon>folder</mat-icon>
      {{folder}}
    </a>
  </mat-list-item>
  <mat-list-item *ngFor="let file of dirList.files">
    <a mat-button (click)="fileClicked(file)">
      <mat-icon>description</mat-icon>
      {{file}}
    </a>
  </mat-list-item>
</mat-list>
