.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.block {
  height: 50%;
  overflow:auto;
}

.top {
  overflow: auto;
  height: 50%;
}

.bottom {
  flex: 1;
  min-height:0;
  overflow: hidden;
}

.slider {
  text-align: center;
  text-orientation: revert;
  background-image: linear-gradient(to bottom, #303031, rgb(63, 63, 64), #303031);
  height: 7px;
  cursor: row-resize;
  user-select: none;
}
