@use '~@angular/material' as mat;
@import '../../../../node_modules/@angular/material/theming';

.toolbar {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
}

.mat-toolbar-multiple-rows {
  min-height: 52px;
}

mat-toolbar-row {
  height: 48px;
}

.label {
  margin-left: 5px;
}

.active {
  color: mat.get-color-from-palette(mat.define-palette(mat.$orange-palette));
}

.stretch {
  flex-grow: 1;
}

mat-nav-list {
  padding: 0;
  height: 100%;
  align-items: center;
}

button {
  vertical-align: center;
  height: 100%;
  padding-top: 10px;
}
