<div class="container"
     (click)="selected.emit()"
     [ngClass]="{'highlighted':highlighted}"
>
  <mat-checkbox
    class="visible"
    [color]="'primary'"
    [(ngModel)]="overlayItem.visible"
  ></mat-checkbox>
  <label class="color-button-container" [style]="{'background-color': colorInput.value}">
    <input type="color" (input)="logColor()" [(ngModel)]="overlayItem.color" #colorInput>
  </label>

  <app-dbl-click-input [(value)]="overlayItem.name" class="name"></app-dbl-click-input>

  <mat-form-field
    floatLabel="never"
    class="numberFormField"
  >
    <input matInput class="form-control"
           type="number" name="value" value="0"
    >
  </mat-form-field>

  <mat-form-field
    floatLabel="never"
    class="numberFormField"
  >
    <input matInput class="form-control"
           type="number" name="value" value="0"
    >
  </mat-form-field>
</div>
